<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".new-message").click(function(){
        var n = $(this).attr("data-target");
        console.debug($("#message-box" + n))
        $("#message-box-" + n).show();
      });
      $(".kryss").click(function(){
        var n = $(this).attr("data-target");
        $("#message-box-" + n).hide();
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $(".issue").fadeIn();
    });
</script>
</head>
<div class="issue-container">
  <% if @user.role.id == 1 %>
  <div id="yourerrants"><p id="yourerrantstext">Dina Ärenden</p></div>
  <div id="nameoferrant">
    <% for issue in @issues%>
        <p class="errant-name-text" data-target="<%= issue.id %>"><%= issue.name %></p>
    <% end %>
  </div>
  <div id="the-issues">
  <div id="issueselector">
    <p class="status-text">Active</p>
    <% for issue in @issues.select{|x| x.status.id == 1} %>
      <div class="issue" data-target="<%= issue.id - 1 %>">
        <p id="issuetext"><%= issue.name %></p>
      </div>
    <% end %>
    <p class="status-text">Closed</p>
    <% for issue in @issues.select{|x| x.status.id == 2} %>
        <div class="issue" data-target="<%= issue.id - 1%>">
          <p id="issuetext"><%= issue.name %></p>
        </div>
    <% end %>
    <p class="status-text">Unaddressed</p>
    <% for issue in @issues.select{|x| x.status.id == 3} %>
        <div class="issue" data-target="<%= issue.id - 1%>">
          <p id="issuetext"><%= issue.name %></p>
        </div>
    <% end %>
  </div>
    <a href="/new-issue"><div id="new-issue"><p id="new-issue-text">Nytt Ärende!</p></div></a>
  </div>
  <% for issue in @issues %>
    <div class="slides">
      <div class="beskrivnings-div">
        <div class="close-button"></div>
        <p class="description"><%= issue.description%></p>
        <% for attachment in @issueattachments.select{|x| x.issue.id == issue.id}%>
        <img class="attachment-picture" src="/uploads/<%= attachment.path %>" alt="">
        <% end %>
      </div>
      <% for message in @messages.select{|x| x.issue.id == issue.id}%>
      <div class="meddelande-div"><p class="meddelande-text" ><%= message.message %></p>
        <% for attachment in @messageattachments.select{|x| x.message.id == message.id}%>
            <img class="attachment-picture" src="/uploads/<%= attachment.path %>" alt="">
        <% end %>
        <p id="nameofuser"><%= message.user.first_name%></p>
      </div>
      <% end %>
      <div id="message-box-<%= issue.id %>" class="message-box">
        <div id="message-box-header">
          <p id="message-box-header-text">New Message</p>
          <div class="kryss" data-target="<%= issue.id %>"></div>
        </div>
        <form action="/send-message" method="post" enctype="multipart/form-data">
          <textarea name="message" id="meddelande-ruta" cols="30" rows="10"></textarea>
          <div id="message-box-footer">
            <button type="submit" id="send-message"><p id="send-message-text">Skicka</p></button>
            <div class="group"><input type="file" name="attachments[]" multiple></div>
          </div>
          <textarea name="id" id="fuling" cols="30" rows="10"><%= issue.id %></textarea>
        </form>
      </div>
      <div class="new-message" data-target="<%= issue.id %>" >
        <p id="new-message-text">Nytt Meddelande!</p>
      </div>
    </div>
  <%end%>
<%end%>
  <% if @user.role.id == 2%>
      <div id="yourerrants"><p id="yourerrantstext">Ärenden</p></div>
      <div id="nameoferrant">
        <p class="errant-list-name">Dina Ärenden</p>
        <p class="errant-list-name">Avklarade Ärenden</p>
        <p class="errant-list-name">Öppna Ärenden</p>
      </div>
      <div id="the-issues">
        <div class="button issue-sorter" id="activeerrants" ><p class="button-text issue-sorter-text">Dina Ärenden</p></div>
        <div class="button issue-sorter" id="closederrants"><p class="button-text issue-sorter-text">Avklarade</p></div>
        <div class="button issue-sorter" id="unaddressederrants"><p class="button-text issue-sorter-text">Öppna Ärenden</p></div>
        <div id="kategori-admins">
          <p class="create-issue-text">Kategori:</p>
          <select name="category" id="kategori-picker-admin">
            <option value="alla">Alla</option>
            <% for category in @categories %>
                <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="almost-slide">
        <div class="close-button"></div>
        <div class="issue-info">
          <p class="issue-info-text" id="issue-info-text-subject">Ämne:</p>
          <p class="issue-info-text" id="issue-info-text-category">Kategori:</p>
          <p class="issue-info-text" id="issue-info-text-user">Användare:</p>
          <p class="issue-info-text" id="issue-info-text-created">Skapad:</p>
        </div>
        <div class="errant-list">
         <% for issue in @allissues.select{|x| x.status.id == 1} %>
              <% if issue.users.include? @user %>
              <a href="/issue/<%= issue.id %>"><div class="errant-list-item">
            <p class="errant-list-item-text" id="errant-list-item-name"><%= issue.name %></p>
            <p class="errant-list-item-text" id="errant-list-item-category"><%= issue.category.name%></p>
            <p class="errant-list-item-text" id="errant-list-item-user"><%= issue.users[0].first_name %> <%= issue.users[0].last_name%></p>
            <!--<p class="errant-list-item-text" id="errant-list-item-date"><#%= issue.date%></p>-->
          </div></a>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="almost-slide">
        <div class="close-button"></div>
        <div class="issue-info">
          <p class="issue-info-text" id="issue-info-text-subject">Ämne:</p>
          <p class="issue-info-text" id="issue-info-text-category">Kategori:</p>
          <p class="issue-info-text" id="issue-info-text-user">Användare:</p>
          <p class="issue-info-text" id="issue-info-text-created">Skapad:</p>
        </div>
        <div class="errant-list">
          <% for issue in @allissues.select{|x| x.status.id == 2} %>
              <% if issue.users.include? @user %>
              <a href="/issue/<%= issue.id %>">
                <div class="errant-list-item">
                  <p class="errant-list-item-text" id="errant-list-item-name"><%= issue.name %></p>
                  <p class="errant-list-item-text" id="errant-list-item-category"><%= issue.category.name%></p>
                  <p class="errant-list-item-text" id="errant-list-item-user"><%= issue.users[0].first_name %> <%= issue.users[0].last_name%></p>
                  <!--<p class="errant-list-item-text" id="errant-list-item-date"><#%= issue.date%></p>-->
                </div>
              </a>
              <%  end %>
          <% end %>
        </div>
      </div>
      <div class="almost-slide">
        <div class="close-button"></div>
        <div class="issue-info">
          <p class="issue-info-text" id="issue-info-text-subject">Ämne:</p>
          <p class="issue-info-text" id="issue-info-text-category">Kategori:</p>
          <p class="issue-info-text" id="issue-info-text-user">Användare:</p>
          <p class="issue-info-text" id="issue-info-text-created">Skapad:</p>
        </div>
        <div class="errant-list">
          <% for issue in @allissues.select{|x| x.status.id == 3} %>
              <a href="/issue/<%= issue.id %>"><div class="errant-list-item">
                <p class="errant-list-item-text" id="errant-list-item-name"><%= issue.name %></p>
                <p class="errant-list-item-text" id="errant-list-item-category"><%= issue.category.name%></p>
                <p class="errant-list-item-text" id="errant-list-item-user"><%= issue.users[0].first_name %> <%= issue.users[0].last_name%></p>
                <!--<p class="errant-list-item-text" id="errant-list-item-date"><#%= issue.date%></p>-->
              </div></a>
          <% end %>
        </div>
      </div>
<% end %>
</div>
